body {
  max-width: 960px;
  padding-left: 150px;
  background-image: url("../images/Men_in_Tights.jpg");
  background-repeat: repeat;
  background-size: auto;
  font-family: "ZCOOL XiaoWei", serif;
}
h1 {
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 80px;
}

.answerchoice {
  border: 1px solid black;
  border-radius: 5%;
  width: 40%;
  color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;
}
#answerbox {
  text-align: center;
}

#questionbox {
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}
p {
  margin: 10px;
  font-weight: bold;
  color: rgb(6, 13, 119);
  font-size: 20px;
}

h2,
h4,
h3 {
  margin: 30px;
  font-weight: bold;
  color: whitesmoke;
}
.btn {
  position: center;
}
img {
  max-height: 200px;
  width: auto;
}
.wrapper {
  float: center;
  background-color: rgba(132, 209, 15, 0.814);
  height: 450px;
  width: 600px;
}
